@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
* {
  box-sizing: border-box;
}

img {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(15, 4, 175);
}

img:hover {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(5, 207, 221);
  border-radius: 10px;
}

html {
  height: 100vh;
  display: flex;
  background: url(../images/underwater1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h2 {
  font-family: 'Oleo Script', cursive;
  font-size: 35px;
  text-align: center;
  margin-top: 15px;
}

h3 {
  font-family: 'Oleo Script', cursive;
  font-size: 1.8em;
  text-align: center;
  color: rgb(5, 5, 5);
  margin-top: 30px;
}

.full-width {
  width: 100%;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  background: rgb(15, 4, 175);
  width: 690px;
  margin-top: 30px;
  padding: 30px;
  border-width: 30px;
  border-radius: 20px;
  justify-content: space-evenly;
}

/* The Modal (background) */

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  background-color: rgb(5, 207, 221);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  height: 45%;
  text-align: center;
  overflow: auto;
  margin-bottom: 0px;
}

.modal-text-small {
  margin-top: 10px;
}

/* The Close Button */

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*------Buttons  ------*/

#myBtn {
  font-weight: bolder;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 30px;
  width: 80px;
  padding: 30px 15px 0px 15px;
  background-color: purple;
  width: 91px;
  height: 85px;
}

#easy {
  background-color: green;
}

#medium {
  background-color: yellow;
}

#hard {
  background-color: red;
}

#easy,
#medium,
#hard {
  font-weight: bolder;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 30px;
  width: 80px;
  padding: 30px 15px 30px 15px;
}

.sound-button {
  margin-top: 30px;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 99;
  cursor: pointer;
}

.footer {
  color: white;
  margin-bottom: 150px;
}

/*  phones */

@media screen and (max-width: 600px) {
  .grid-wrap {
    display: flex;
    margin: 10px;
    width: auto;
  }
  .grid {
    width: calc(100vw - 50px);
    margin: auto 10px;
    padding: 15px;
  }
  img {
    width: calc(33% - 30px);
    height: auto;
  }
}